body {
    text-align: center;
    background-image: url("./bg.png");
}
header{
    border: 5px solid blue;
    color: SteelBlue;
}
canvas {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
#list{
    color: tan;
}
#canvas{
    background-color: #202020;
}
canvas{
    border: 5px solid DarkSlateGray;
    border-radius: 10px;
}
#disclaimer{
    color: red;
}

footer{

    text-align: left;
    background-color: #202020;
    font-style: italic;
}
ul{
    list-style-type: none;
}

}